header{
    grid-area: header;
}
.main{
    grid-area: main;
}
.sidebar{
    grid-area: sidebar;
}
footer{
    grid-area: footer;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "header header"
    "main sidebar"
    "footer footer";
    grid-gap: 60px;
}

header{
    display: grid;
    grid-area: header;
    padding: 20px 0;
    grid-template-columns: 1fr 1fr;

    nav{
        justify-self: start;    
        list-style: none;

        li{
            display: inline-block;
            margin-right: 15px;
        }
    }
    button{
        justify-self: end;
    }
}

@media (max-width: 600px) {
  .container {
  /* Переделываем сетку в одноколоночный макет */
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "main"
    "sidebar"
    "footer";
  }
}
